<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row">
  <div class="col-md 4">
    <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block m-3">Volver</a>
  </div>
  <div class="col-md-6">
    <h3 class="">{{heroe.nombre}}</h3>
    <div class="progress">
      <div [ngClass]="{'progress-bar-animated bg-danger':alert}" class="progress-bar progress-bar-striped" role="progressbar" [attr.aria-valuenow]="alertLevel" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': alertLevel+'%'}"></div>
    </div>
    <button (click)="alert = true" class="btn btn-danger btn-sm m-3">Poner en alerta</button>
    <button (click)="alert = false" class="btn btn-info btn-sm m-3">Quitar alerta</button>
    <hr>
    <button (click)="sizeFont = sizeFont+1" class="btn btn-info btn-sm">Aumentar fuente</button>
    <button (click)="sizeFont = sizeFont-1" class="btn btn-secondary btn-sm">Reducir fuente</button>
    <hr>
    <p [ngStyle]="{'font-size': sizeFont+'px'}">{{heroe.bio}}</p>
    <strong *ngIf="heroe.casa == 'DC'">Productora: DC</strong>
    <strong appHideText *ngIf="heroe.casa == 'Marvel'">Productora: Marvel</strong>
  </div>
</div>
